.footer {
  padding: 80px 20px;
  background-color: #105161;
}

.footer-text p{
color: #E6E6E6;
font-size: 1.2rem;
}


.footer-contatos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.color-white {
  color: #fff;
}

.contatos ul {
  display: flex;
flex-direction: column;
gap: 12px;
}

.contatos li a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap:  10px;
}

.footer-text {
  max-width: 500px;
}

.footer-direitos {
  background-color: #072A33 ;
  padding: 20px 0;
  text-align: center;
}

.footer-direitos a{
  color: #E6E8E8;
}


